---
import { Icon } from "astro-icon/components";

type Props = {
  items: string[];
  size: "large" | "small";
  class?: string;
};

const { items, size, class: className } = Astro.props;
---

<ul class:list={["text-graytext flex flex-col", className]}>
  {
    items.map((item) => (
      <li
        class:list={["flex items-center", size === "large" ? "gap-6" : "gap-3"]}
      >
        <Icon
          name="core/check"
          class:list={[
            "rounded-full bg-black text-white",
            size === "large" ? "p-3" : "p-1",
            size === "large" ? "w-12 min-w-12 h-12" : "w-6 min-w-6 h-6",
          ]}
        />
        <span>{item}</span>
      </li>
    ))
  }
</ul>
