---
import { Image } from "astro:assets";
import type { TService } from "../data";

interface Props {
  projectCategory: TService;
}

const { projectCategory } = Astro.props;


---
<a
  href={`/projects/${projectCategory.slug}`}
  class="border max-w-[420px] m-auto relative"
>
  <div class="overflow-hidden">
    <Image
      src={projectCategory.imageProjects!}
      alt={projectCategory.name}
      width={694}
      height={486}
      class="duration-700 hover:scale-110"
    />
  </div>
  <h2 class="text-center bg-[#F2EFEA]/80 p-10 py-6 text-xl absolute bottom-0 left-0 w-full">
    {projectCategory.name}
  </h2>
</a>
