---
import type { HTMLAttributes } from "astro/types";

type Props = {} & HTMLAttributes<"label">;

const { class: className, ...props } = Astro.props;
---

<label class:list={["cursor-pointer font-semibold text-[16px] font-roboto", className]} {...props}>
  <slot />
</label>
