---
import "@fontsource/montserrat";
import "@fontsource/roboto";
import "@fontsource/chivo";
import { SEO, type SEOProps } from "astro-seo";
import { Schema } from "astro-seo-schema";

type Props = {
  seo?: SEOProps;
  schema?: Parameters<typeof Schema>[0];
  enableRecaptcha?: boolean;
} & SEOProps;

const { title, seo = {}, schema, enableRecaptcha } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <SEO {...seo} title={seo.title || title} />
    {schema && <Schema {...schema} />}
    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-P9Z7XXT3");
    </script>
    <!-- End Google Tag Manager -->
    {
      enableRecaptcha && (
        <script
          is:inline
          src="https://www.google.com/recaptcha/api.js"
          async
          defer
        />
      )
    }

    <!-- Meta Pixel Code -->
    <script is:inline>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "1116276426324475");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=1116276426324475&ev=PageView&noscript=1"
      /></noscript
    >
    <!-- End Meta Pixel Code -->
  </head>
  <body class="flex flex-col min-h-[100vh]">
    <slot />

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-P9Z7XXT3"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

<script is:inline>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"6a50376ea891153cf873354cb4d82a3b"})});</script>
  </body>
</html>
