---
import "@fontsource/montserrat";
import "@fontsource/roboto";
import "@fontsource/chivo";
import Header from "./Header.astro";
import Footer from "./footer/Footer.astro";
import { type SEOProps } from "astro-seo";
import { Schema } from "astro-seo-schema";
import BaseLayout from "./BaseLayout.astro";

type Props = {
  seo?: SEOProps;
  schema?: Parameters<typeof Schema>[0];
  enableRecaptcha?: boolean;
} & SEOProps;
---

<BaseLayout {...Astro.props}>
  <Header />
  <main class="flex-1">
    <slot />
  </main>
  <Footer />
</BaseLayout>
