---
import type { HTMLAttributes } from "astro/types";

type Props = {
  href: string;
  class?: string;
} & HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  class:list={[
    "nav-menu",
    "text-graytext hover:text-darkblue duration-300 font-roboto font-[400]",
    className,
  ]}
  {...props}
>
  <slot />
</a>
