<ul class="hidden md:flex flex-col gap-6 text-base text-graytext">
  <li>
    <a class="foot-menu" href="/about">About us</a>
  </li>
  <li>
    <a class="foot-menu" href="/services">Services</a>
  </li>
  <li>
    <a class="foot-menu" href="/projects">Projects</a>
  </li>
  <li>
    <a class="foot-menu" href="/testimonials">Testimonials</a>
  </li>
  <li>
    <a class="foot-menu" href="/contact">Contact</a>
  </li>
</ul>
