---
import Col1 from "./Col1.astro";
import Col2 from "./Col2.astro";
import Col3 from "./Col3.astro";
import Col4 from "./Col4.astro";


---

<footer>
  <div
    class="container py-10 m-auto gap-6 flex justify-between flex-wrap md:flex-nowrap"
  >
    <Col1 />
    <Col2 />
    <Col3 />
    <Col4 />
  </div>
  <hr class="container m-auto bg-zinc-400 h-[.5px]" />
  <div class="text-center text-graytext text-base py-4" ,>
    Copyright © 2023 E & L Home Improvements, All rights reserved.
  </div>
</footer>
